<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <center><title>{{.Section}}</title></center>
</head>

<center>
<body>
    
    <header class="header">
        <div class="container">
            <div class="forum">
                <a href="/"><img
                    src="../static/assets/logo.png"
                    alt="01F-logo"
                    width="50"
                    height="50"
                  /></a>

                  <center><h2><a href="/">FORUM</a></h2></center>
            </div>
            <br>
            <center>
            <!-- If user is authenticated, buttons "create post" and "logout" are available -->
            {{if .AuthUser}}
            <div class="bottom signed" id='signed'>
                <h2>
                    <div><label class="username"><strong>🙂 Welcome {{ .AuthUser.Username }} !</strong></label></div>
                </h2>
                <br>
                <div>
                    <a href="/filter?section=my_posts" target="_self" rel="noopener noreferrer"><button
                            type="submit"><strong> My posts 📮</strong></button></a>
                    <a href="/filter?section=liked" target="_self" rel="noopener noreferrer"><button
                            type="submit"><strong> Liked Posts 👌</strong></button></a>
                    <a href="/addpost"><button class="headerbtn"><strong>Create a post ✍</strong></button></a>
                    <a href="/logout"><button class="headerbtn"><strong>Logout 🚪</strong></button></a>
                </div>
                <br>
                <br>
                <h2 class="name"><strong>Forum Discussion Topics:</strong></h2>
                <nav>
                    <br>
                    <a href="/filter?section=travel"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Travel 🏖</strong></button></a>
                    <a href="/filter?section=currentaffairs"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Current Affairs 🌍</strong></button></a>
                    <a href="/filter?section=sports"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Sports ⛹</strong></button></a>
                    <a href="/filter?section=hobby"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Hobby 🎭</strong></button></a>
                </nav>
                <br>
                <h3>
                    <div><label class="category"><strong> {{ .Section}} </strong></label></div>
                </h3>
            </div>
            <!-- Else guest, buttons "log in" and "sign up" are available -->
            {{ else }}
            <div class="bottom notsigned" id="notsigned">
                <div class="topnav-right">
                    <a href="/login"><button class="headerbtn"><strong>Login 👣</strong></button></a>
                    <a href="/register"><button class="headerbtn"><strong>Register 📲</strong></button></a>
                </div>
                <h2 class="name"><strong>Forum Discussion Topics:</strong></h2>
                <nav>
                    <a href="/filter?section=travel"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Travel 🏖</strong></button></a>
                    <a href="/filter?section=currentaffairs"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Current Affairs 🌍</strong></button></a>
                    <a href="/filter?section=sports"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Sports ⛹</strong></button></a>
                    <a href="/filter?section=hobby"><button target="_self" rel="noopener noreferrer"
                            type="submit"><strong>Hobby 🎭</strong></button></a>
                </nav>
                <br>
                <h3>
                    <div><label class="category"><strong> {{ .Section}} </strong></label></div>
                </h3>
            </div>
            {{ end}}
        </div>
    </header>
    </center>

    <main class="Scrollstyle">
        <center>
        <section class="section">
            <div class="container">
                <div class="posts">

                    <!-- Displaying of posts -->
                    {{if .PostScroll}}
                    {{range .PostScroll}}
                   
                    <div class="post">
                        <div class="post_top">
                            <div class="avatar"><i class="fas fa-user-ninja fa-5x"></i></div>
                            <div class="description">
                                <h3><a class="title" target="_self" rel="noopener noreferrer"
                                        href="/post?id={{.Post.PostID}}">{{.Post.Title}}</a></h3>
                                <div class="content"><em>{{.Post.Text}}</em></div>
                                <div class="categories"><strong>Category:</strong> {{.Post.Category1}}
                                    {{.Post.Category2}} {{.Post.Category3}} {{.Post.Category4}}</div>
                                <div class="author"><strong>Author:</strong> {{.Post.Author}}</div>
                                <span class="date"><strong>Created at: </strong>{{.Post.CreationDate}}</span>
                            </div>
                        </div>
                        <center>
                        <div class="post_bottom">
                            <div class="content_info">
                                <p>
                                    <a class="like_title" href="/rate?post_id={{.Post.PostID}}">Like 👍</a>
                                    <span class="like_num">{{.PostLD.Likecount}} |</span>
                                    <a class="dislike_title" href="/rate?post_id=-{{.Post.PostID}}">Dislike 👎</a>
                                    <span class="dislike_num"> {{.PostLD.Dislikecount}} |</span>
                                </p>
                            </div>
                        </div>
                    </center>
                    </div>
                   
                    {{end}}
                    {{end}}
                </div>
            </div>
        </section> 
    </center>
        <center><img id="footerimg" src="../static/assets/01Founderscrop2.png" alt="01founders" style="width:10%;"></center>
</body>
</center>

</html>